/* Контактная информация /
.footer-portfolio {
  background-color: var(--hero-color-footer);
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer-portfolio-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-white);
  font-style: normal;
}
.footer-portfolio-contact {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.footer-portfolio-contact:focus,
.footer-portfolio-contact:hover {
  color: var(--header-logo);
}
.footer-portfolio-link:focus,
.footer-portfolio-link:hover {
  color: var(--header-logo);
}

.footer-portfolio-item {
  margin-bottom: 9px;
}
