.advantages__section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages__list {
  display: flex;
}

.advantages__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.advantages__subtitle {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-link);
  margin-bottom: 10px;
}
.advantages__lead {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
